/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-size: 10px; /* site wide 10px font base*/
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE  edit one*/

@font-face {
  font-family: 'CustomFont';
  src: url('PTSans-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Customfont';
  src: url('PTSerif-Italic.ttf') format('truetype');
}

body {
  font-family: 'CustomFont', serif;
  line-height: 2.3;
  letter-spacing: 0.05em;
  word-spacing: 0.1em
}
header, section, aside, nav, footer {

  font-size: 1.4rem;
}
h1,h2{font-family: 'CustomFont', sans-serif;
  letter-spacing: 0.1em;}

  p{text-indent: 20px;
}

a.ex1:hover, a.ex1:active {color: red;}
a.ex1:visited, a.ex1:link {text-decoration: purple;}
a.ex1:hover, a.ex1:active {text-decoration: none;}
a.ex1:focus { outline: none;}
a.ex1:active{ color: #ff0000; 
  background-color: lightgreen;}

  a.ex1::after {
    content: url('external-link-52.png'); 
  
    
  }

  a.ex2{a.ex2:focus { outline: none;}
  a.ex2:active{ color: #ff0000; 
    background-color: lightgreen;}
    a.ex1:focus { outline: none;}}

    ul {
      list-style: none; 
    }
    
  
    navbar {
      background-color: #333;
      overflow: hidden;
    }
    
    navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    
    navbar li {
      display: inline-block;
    }
    
    navbar a {
      display: block;
      color: white;
      padding: 14px 20px;
      text-decoration: none;
    }
    
    navbar a:hover {
      background-color: #555;
    }
    
  navbar a:focus,
    navbar a.active {
      background-color: #777;
    }